<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>
    <div>
        <center>
            <fieldset style="height: 250px; width: 300px;">
                <legend>
                    <h1>info</h1>
                </legend>
                {% if messages %}
                {% for m in messages %}
                <h2 style="color: orange;">{{m}}</h2>
                {% endfor %}
                {% endif %}
            </fieldset>
        </center>

    </div>
</body>

</html>