{% extends 'naukri_nav.html' %}
{%  load static %}
<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
{% block hade_c %}
<title>job_desc</title>
<link rel="stylesheet" href="{% static "job_page.css" %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}
<!-- </head>
<body> -->
{% block body %}
<div>
    <section id="rec-hader">
        <div class="hade-body">
            <div class="first_h">
                <div class="bag">
                    <img class="hand_bag" src="{% static 'bag-job.png' %}" alt="">
                    <!-- <ion-icon name="bag-handle"></ion-icon> -->
                </div>
                <span>
                    <h3 class="rjf">Recommended Jobs for You</h3>
                </span>
            </div>
            <span class="hader">
                <span class="job-count-text">
                    You can select upto 5 jobs to apply
                </span>
                <button class="btn">
                    Apply
                </button>
            </span>
        </div>
    </section>
    <div class="main_box">
        <div class="content">
            <div class="sec_body">
                <!-- <img src="{% static 'hader_logo.png' %}" alt=""> -->
                <img src="{% static 'no-result.png' %}" alt="">
                <section class="no_job">
                    <h5>
                        We could not find any jobs matching your preferences.
                    </h5>
                    <li>We will notify you as soon as a new job is posted matching your criteria.</li>
                    <li>Manage Your Preferences to ensure you receive the most relevant jobs.</li>
                </section>
            </div>
            <div>
                <h3 class="text_n">75 Jobs Similar to Your Preferences</h3>
                <p class="text_n">Browsing these jobs does not change your preferences</p>
            </div>
            <div class="job_desc">
                <article>
                    <div class="box_design">
                        <div class="box">
                            <input type="checkbox">
                            <!-- <ion-icon name="square-outline"></ion-icon> -->
                        </div>
                        <div class="adjust">
                            <p>{{droll}}</p>
                            <div class="rate">
                                <span>New Zen Infotech</span>
                                <span>{{rating}}</span>
                                <span class="star">
                                    <ion-icon name="star"></ion-icon>
                                </span>
                                <a class="rev" href="">({{review}} Reviews)</a>
                            </div>
                            <ul class="line">
                                <li>
                                    <ion-icon name="bag-remove-outline"></ion-icon>
                                    <span>{{yrs}} Yrs</span>
                                </li>
                                <li>
                                    <!-- <ion-icon name="cash-outline"></ion-icon> -->
                                    <span>₹</span>
                                    <span>Not disclosed</span>
                                </li>
                                <li>
                                    <ion-icon name="location-outline"></ion-icon>
                                    Ameerpet, Hyderabad/...
                                </li>
                            </ul>
                            <div class="page">
                                <ion-icon name="document-outline"></ion-icon>
                                <span class="file">Job descriptionGood hands-on working Experience in
                                    Python.Proficient in RESTful Web Services using Fast API...</span>
                            </div>
                            <ul class="l_line">
                                <li>Python</li>
                                <li>Django</li>
                                <li>software development</li>
                                <li>software</li>
                                <li>development</li>
                            </ul>
                            <div class="foot">
                                <div class="day">
                                    <ion-icon name="timer-outline"></ion-icon>
                                    <span class="ago">{{day}} DAY AGO</span>
                                </div>
                                <div class="l1l2">
                                    <div class="l1">
                                        <ion-icon name="eye-off-outline"></ion-icon>
                                        <span class="ago">Hide</span>
                                    </div>
                                    <div class="l2">
                                        <ion-icon name="star-outline"></ion-icon>
                                        <span class="ago">Save</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="job_desc">
                <article>
                    <div class="box_design">
                        <div class="box">
                            <input type="checkbox">
                            <!-- <ion-icon name="square-outline"></ion-icon> -->
                        </div>
                        <div class="adjust">
                            <p>Python Software Developer</p>
                            <div class="rate">
                                <span>New Zen Infotech</span>
                                <span>1.8</span>
                                <span class="star">
                                    <ion-icon name="star"></ion-icon>
                                </span>
                                <a class="rev" href="">(8 Reviews)</a>
                            </div>
                            <ul class="line">
                                <li>
                                    <ion-icon name="bag-remove-outline"></ion-icon>
                                    <span>0-1 Yrs</span>
                                </li>
                                <li>
                                    <!-- <ion-icon name="cash-outline"></ion-icon> -->
                                    <span>₹</span>
                                    <span>Not disclosed</span>
                                </li>
                                <li>
                                    <ion-icon name="location-outline"></ion-icon>
                                    Ameerpet, Hyderabad/...
                                </li>
                            </ul>
                            <div class="page">
                                <ion-icon name="document-outline"></ion-icon>
                                <span class="file">Job descriptionGood hands-on working Experience in
                                    Python.Proficient in RESTful Web Services using Fast API...</span>
                            </div>
                            <ul class="l_line">
                                <li>Python</li>
                                <li>Django</li>
                                <li>software development</li>
                                <li>software</li>
                                <li>development</li>
                            </ul>
                            <div class="foot">
                                <div class="day">
                                    <ion-icon name="timer-outline"></ion-icon>
                                    <span class="ago">1 DAY AGO</span>
                                </div>
                                <div class="l1l2">
                                    <div class="l1">
                                        <ion-icon name="eye-off-outline"></ion-icon>
                                        <span class="ago">Hide</span>
                                    </div>
                                    <div class="l2">
                                        <ion-icon name="star-outline"></ion-icon>
                                        <span class="ago">Save</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="job_desc">
                <article>
                    <div class="box_design">
                        <div class="box">
                            <input type="checkbox">
                            <!-- <ion-icon name="square-outline"></ion-icon> -->
                        </div>
                        <div class="adjust">
                            <p>Python Software Developer</p>
                            <div class="rate">
                                <span>New Zen Infotech</span>
                                <span>1.8</span>
                                <span class="star">
                                    <ion-icon name="star"></ion-icon>
                                </span>
                                <a class="rev" href="">(8 Reviews)</a>
                            </div>
                            <ul class="line">
                                <li>
                                    <ion-icon name="bag-remove-outline"></ion-icon>
                                    <span>0-1 Yrs</span>
                                </li>
                                <li>
                                    <!-- <ion-icon name="cash-outline"></ion-icon> -->
                                    <span>₹</span>
                                    <span>Not disclosed</span>
                                </li>
                                <li>
                                    <ion-icon name="location-outline"></ion-icon>
                                    Ameerpet, Hyderabad/...
                                </li>
                            </ul>
                            <div class="page">
                                <ion-icon name="document-outline"></ion-icon>
                                <span class="file">Job descriptionGood hands-on working Experience in
                                    Python.Proficient in RESTful Web Services using Fast API...</span>
                            </div>
                            <ul class="l_line">
                                <li>Python</li>
                                <li>Django</li>
                                <li>software development</li>
                                <li>software</li>
                                <li>development</li>
                            </ul>
                            <div class="foot">
                                <div class="day">
                                    <ion-icon name="timer-outline"></ion-icon>
                                    <span class="ago">1 DAY AGO</span>
                                </div>
                                <div class="l1l2">
                                    <div class="l1">
                                        <ion-icon name="eye-off-outline"></ion-icon>
                                        <span class="ago">Hide</span>
                                    </div>
                                    <div class="l2">
                                        <ion-icon name="star-outline"></ion-icon>
                                        <span class="ago">Save</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="job_desc">
                <article>
                    <div class="box_design">
                        <div class="box">
                            <input type="checkbox">
                            <!-- <ion-icon name="square-outline"></ion-icon> -->
                        </div>
                        <div class="adjust">
                            <p>Python Software Developer</p>
                            <div class="rate">
                                <span>New Zen Infotech</span>
                                <span>1.8</span>
                                <span class="star">
                                    <ion-icon name="star"></ion-icon>
                                </span>
                                <a class="rev" href="">(8 Reviews)</a>
                            </div>
                            <ul class="line">
                                <li>
                                    <ion-icon name="bag-remove-outline"></ion-icon>
                                    <span>0-1 Yrs</span>
                                </li>
                                <li>
                                    <!-- <ion-icon name="cash-outline"></ion-icon> -->
                                    <span>₹</span>
                                    <span>Not disclosed</span>
                                </li>
                                <li>
                                    <ion-icon name="location-outline"></ion-icon>
                                    Ameerpet, Hyderabad/...
                                </li>
                            </ul>
                            <div class="page">
                                <ion-icon name="document-outline"></ion-icon>
                                <span class="file">Job descriptionGood hands-on working Experience in
                                    Python.Proficient in RESTful Web Services using Fast API...</span>
                            </div>
                            <ul class="l_line">
                                <li>Python</li>
                                <li>Django</li>
                                <li>software development</li>
                                <li>software</li>
                                <li>development</li>
                            </ul>
                            <div class="foot">
                                <div class="day">
                                    <ion-icon name="timer-outline"></ion-icon>
                                    <span class="ago">1 DAY AGO</span>
                                </div>
                                <div class="l1l2">
                                    <div class="l1">
                                        <ion-icon name="eye-off-outline"></ion-icon>
                                        <span class="ago">Hide</span>
                                    </div>
                                    <div class="l2">
                                        <ion-icon name="star-outline"></ion-icon>
                                        <span class="ago">Save</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="job_desc">
                <article>
                    <div class="box_design">
                        <div class="box">
                            <input type="checkbox">
                            <!-- <ion-icon name="square-outline"></ion-icon> -->
                        </div>
                        <div class="adjust">
                            <p>Python Software Developer</p>
                            <div class="rate">
                                <span>New Zen Infotech</span>
                                <span>1.8</span>
                                <span class="star">
                                    <ion-icon name="star"></ion-icon>
                                </span>
                                <a class="rev" href="">(8 Reviews)</a>
                            </div>
                            <ul class="line">
                                <li>
                                    <ion-icon name="bag-remove-outline"></ion-icon>
                                    <span>0-1 Yrs</span>
                                </li>
                                <li>
                                    <!-- <ion-icon name="cash-outline"></ion-icon> -->
                                    <span>₹</span>
                                    <span>Not disclosed</span>
                                </li>
                                <li>
                                    <ion-icon name="location-outline"></ion-icon>
                                    Ameerpet, Hyderabad/...
                                </li>
                            </ul>
                            <div class="page">
                                <ion-icon name="document-outline"></ion-icon>
                                <span class="file">Job descriptionGood hands-on working Experience in
                                    Python.Proficient in RESTful Web Services using Fast API...</span>
                            </div>
                            <ul class="l_line">
                                <li>Python</li>
                                <li>Django</li>
                                <li>software development</li>
                                <li>software</li>
                                <li>development</li>
                            </ul>
                            <div class="foot">
                                <div class="day">
                                    <ion-icon name="timer-outline"></ion-icon>
                                    <span class="ago">1 DAY AGO</span>
                                </div>
                                <div class="l1l2">
                                    <div class="l1">
                                        <ion-icon name="eye-off-outline"></ion-icon>
                                        <span class="ago">Hide</span>
                                    </div>
                                    <div class="l2">
                                        <ion-icon name="star-outline"></ion-icon>
                                        <span class="ago">Save</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="job_desc">
                <article>
                    <div class="box_design">
                        <div class="box">
                            <input type="checkbox">
                            <!-- <ion-icon name="square-outline"></ion-icon> -->
                        </div>
                        <div class="adjust">
                            <p>Python Software Developer</p>
                            <div class="rate">
                                <span>New Zen Infotech</span>
                                <span>1.8</span>
                                <span class="star">
                                    <ion-icon name="star"></ion-icon>
                                </span>
                                <a class="rev" href="">(8 Reviews)</a>
                            </div>
                            <ul class="line">
                                <li>
                                    <ion-icon name="bag-remove-outline"></ion-icon>
                                    <span>0-1 Yrs</span>
                                </li>
                                <li>
                                    <!-- <ion-icon name="cash-outline"></ion-icon> -->
                                    <span>₹</span>
                                    <span>Not disclosed</span>
                                </li>
                                <li>
                                    <ion-icon name="location-outline"></ion-icon>
                                    Ameerpet, Hyderabad/...
                                </li>
                            </ul>
                            <div class="page">
                                <ion-icon name="document-outline"></ion-icon>
                                <span class="file">Job descriptionGood hands-on working Experience in
                                    Python.Proficient in RESTful Web Services using Fast API...</span>
                            </div>
                            <ul class="l_line">
                                <li>Python</li>
                                <li>Django</li>
                                <li>software development</li>
                                <li>software</li>
                                <li>development</li>
                            </ul>
                            <div class="foot">
                                <div class="day">
                                    <ion-icon name="timer-outline"></ion-icon>
                                    <span class="ago">1 DAY AGO</span>
                                </div>
                                <div class="l1l2">
                                    <div class="l1">
                                        <ion-icon name="eye-off-outline"></ion-icon>
                                        <span class="ago">Hide</span>
                                    </div>
                                    <div class="l2">
                                        <ion-icon name="star-outline"></ion-icon>
                                        <span class="ago">Save</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="job_desc">
                <article>
                    <div class="box_design">
                        <div class="box">
                            <input type="checkbox">
                            <!-- <ion-icon name="square-outline"></ion-icon> -->
                        </div>
                        <div class="adjust">
                            <p>Python Software Developer</p>
                            <div class="rate">
                                <span>New Zen Infotech</span>
                                <span>1.8</span>
                                <span class="star">
                                    <ion-icon name="star"></ion-icon>
                                </span>
                                <a class="rev" href="">(8 Reviews)</a>
                            </div>
                            <ul class="line">
                                <li>
                                    <ion-icon name="bag-remove-outline"></ion-icon>
                                    <span>0-1 Yrs</span>
                                </li>
                                <li>
                                    <!-- <ion-icon name="cash-outline"></ion-icon> -->
                                    <span>₹</span>
                                    <span>Not disclosed</span>
                                </li>
                                <li>
                                    <ion-icon name="location-outline"></ion-icon>
                                    Ameerpet, Hyderabad/...
                                </li>
                            </ul>
                            <div class="page">
                                <ion-icon name="document-outline"></ion-icon>
                                <span class="file">Job descriptionGood hands-on working Experience in
                                    Python.Proficient in RESTful Web Services using Fast API...</span>
                            </div>
                            <ul class="l_line">
                                <li>Python</li>
                                <li>Django</li>
                                <li>software development</li>
                                <li>software</li>
                                <li>development</li>
                            </ul>
                            <div class="foot">
                                <div class="day">
                                    <ion-icon name="timer-outline"></ion-icon>
                                    <span class="ago">1 DAY AGO</span>
                                </div>
                                <div class="l1l2">
                                    <div class="l1">
                                        <ion-icon name="eye-off-outline"></ion-icon>
                                        <span class="ago">Hide</span>
                                    </div>
                                    <div class="l2">
                                        <ion-icon name="star-outline"></ion-icon>
                                        <span class="ago">Save</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </article>
            </div>


        </div>
        <div class="content1">
            <div class="rbox">
                <section>
                    <div class="pref-head">
                        <p class="para">Get jobs matching your criteria by adding below preferences</p>
                        <img src="{% static 'pref-img.png' %}" alt="">
                    </div>
                    <div class="no_data">
                        <lable class="plus">+</lable>
                        <lable class="plus_l">Add Your Preferred Job Role</lable>
                    </div>
                    <div class="data_cont">
                        <div class="data">
                            <lable class="loc">Your Preferred Work Location</label>
                                <!-- <label class="pen"><ion-icon name="pencil-outline"></ion-icon></label>     -->
                                <label class="pen"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                        <!--! Font Awesome Pro 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                        <path
                                            d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z" />
                                    </svg></label>
                        </div>

                        <span class="chip">Hyderabad/Secunderabad</span>
                        <span class="chip">Delhi / NCR</span>
                        <span class="chip">Bangalore/Bengaluru</span>
                    </div>
                    <div class="data_cont">
                        <div class="data">
                            <lable class="loc">Add Your Preferred Salary</label>
                                <!-- <label class="pen"><ion-icon name="pencil-outline"></ion-icon></label>     -->
                                <label class="pen"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                        <!--! Font Awesome Pro 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                        <path
                                            d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z" />
                                    </svg></label>
                        </div>
                        <span class="chip">$ 2,000,000</span>
                    </div>
                </section>
            </div>
            <div class="rbox1">
                <h1>hello</h1>
            </div>
            <div class="rbox2">
                <h1>hello</h1>
            </div>
        </div>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    {% endblock %}
    <!-- </body>

</html> -->